<a href="https://colab.research.google.com/github/srinath4304/srinath_4304_ds_/blob/main/dictonary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
student = {"name": "Alice", "age": 20, "course": "Python"}
print(student)

{'name': 'Alice', 'age': 20, 'course': 'Python'}

In [3]:
d = {1: "Apple", 2: "Banana", 3: "Mango"}
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango'}

In [4]:
student = {"name": "John", "age": 21}

print(student["name"])
print(student.get("age"))

John
21

In [5]:
student = {"name": "John", "age": 21}

student["grade"] = "A"   # Add
student["age"] = 22      # Update

print(student)

{'name': 'John', 'age': 22, 'grade': 'A'}

In [6]:
d = {"a": 1, "b": 2, "c": 3}

d.pop("b")
del d["c"]

print(d)

{'a': 1}

In [7]:
d = {"a": 1, "b": 2}

for key in d:
    print(key, d[key])

# OR
for key, value in d.items():
    print(key, value)

a 1
b 2
a 1
b 2